# Task 1 f, Calculating reserve factors against column buckling using Euler-Johnson

## We need from the data file:
- volume of the element
- Iyy calculated with `height_str, width_str, thickness_web, thickness_flange, thickness_skin, stringer_pitch`
- dimensions
- `EulerJohnson(EModulus, I_y, area, length, height_str, thickness_flange, thickness_web, radius, sigma_yield, sigma_applied, c=1)`

## Please enter your name (daniel, fabian, felix, yannis)

In [1]:
name = 'fabian'

## Imports

In [2]:
import pandas as pd
import numpy as np
import sys 
import os
sys.path.insert(0, os.path.abspath('..'))
sys.path.insert(0, os.path.abspath('../formulas'))

from formulas.columnbuckling import *
from formulas.panels import *
from formulas.strength import *
from formulas.helpers import *

## Constants

In [3]:
personal_data = personal_data_provider(name)
sigma_yield = personal_data[0]
EModulus = personal_data[1]
print(f"Your personal data is: sigma_yield = {sigma_yield}, EModulus = {EModulus}. Please verify.")

stringer_pitch = 200
effective_width = stringer_pitch/2

panel_element_length = 750/3
stringer_element_length = 750/3

# Hat stringer parameters
DIM1 = 25
DIM2 = 2
DIM3 = 20
DIM4 = 10

thickness_skin = 10

Your personal data is: sigma_yield = 490, EModulus = 65420.46. Please verify.

# Importing necessary files

In [ ]:
# Import panel properties and match the elements to the respective panel
paneldf = pd.read_csv(f'../data/{name}/panel_v2.csv')
element_component_df = pd.read_csv('../data/element_component_matching.csv')

#####
###
# Bitte guck dir an, wie ich in task_1d den Import gemacht habe. 
# Und wie ich die element_component_matching csv dazu gebastelt habe. 
# Ist doch etwas anders, geht aber alles. 
# Auch für die Stringer. So kannst du das hier auch machen.
####
# Ich werde das für die e) auch so machen.
###
#####

paneldf = pd.concat([paneldf, element_component_df], axis=1)
paneldf.drop(columns=['FileID', 'Step', 'Layer'], inplace=True)
paneldf.sample(10)

,Elements,Loadcase,XX,XY,YY,YZ,ZX,ZZ,Element ID,Component Name
43,14,2,-62.64,30.71,-12.06,0.0,0.0,0.0,14,panel5
84,25,3,-44.34,187.43,79.81,0.0,0.0,0.0,25,panel9
50,21,2,-58.44,23.49,-31.13,0.0,0.0,0.0,21,panel7
2,3,1,-67.63,36.97,20.74,0.0,0.0,0.0,3,panel1
80,21,3,-7.65,209.64,-163.14,0.0,0.0,0.0,21,panel7
74,15,3,-91.00,340.12,89.22,0.0,0.0,0.0,15,panel5
83,24,3,-48.63,190.63,-112.21,0.0,0.0,0.0,24,panel8
72,13,3,-2.44,340.18,-71.03,0.0,0.0,0.0,13,panel5
24,25,1,-96.29,28.46,26.60,0.0,0.0,0.0,25,panel9
19,20,1,-94.31,21.61,18.34,0.0,0.0,0.0,20,panel7

In [ ]:
# Open and match stringer properties 
stringerdf = pd.read_csv(f'../data/{name}/stringer_v2.csv', index_col=0)

## We can already drop some columns

In [9]:
paneldf = paneldf.drop(columns=['YZ', 'ZX','ZZ','Element ID'])
paneldf.head(2)

   Elements  Loadcase     XX     XY     YY Component Name
0         1         1 -66.67  26.25  12.75         panel1
1         2         1 -82.97  27.10  20.87         panel1

# Now we rearrange the structure a bit

## First we split the 3 loadcases

In [10]:
loadCase1df = paneldf[paneldf["Loadcase"] == 1]
loadCase2df = paneldf[paneldf["Loadcase"] == 2]
loadCase3df = paneldf[paneldf["Loadcase"] == 3]
loadCase3df.head(5)

    Elements  Loadcase     XX      XY     YY Component Name
60         1         3 -30.70  186.97 -15.60         panel1
61         2         3 -41.48  162.58  10.44         panel1
62         3         3 -36.45  192.33  32.35         panel1
63         4         3 -52.64  190.46 -65.30         panel2
64         5         3 -44.75  162.26  12.67         panel2

## Cross-Section Properties of the hat stringer

In [ ]:
cs_properties = crosssectional_properties_hat_skin(DIM1, DIM2, DIM3, DIM4, thickness_skin, effective_width, stringer_depth=stringer_element_length)
effective_panel_volume = effective_width * thickness_skin * panel_element_length # 750 mm is the length of the panel, 3 FE per panel

## Open stress values & properties of panels

In [ ]:
#Imoport panel stress file and reformat 
paneldf = pd.read_excel(f'../data/{name}/panel.xlsx', index_col=0)
paneldf = paneldf.drop(['sigmaZZ', 'sigmaXZ', 'sigmaYZ'],axis=1)
paneldf = paneldf.reset_index()

# Import stringer properties
stringerdf = pd.read_excel(f'../data/{name}/stringer.xlsx', index_col=0)
stringerdf = stringerdf.reset_index()
print(stringerdf.head(5))

#Import panel properties and reformat
panelPropertiesdf = pd.read_excel(f'../data/{name}/panel_properties.xlsx', index_col=0)
panelPropertiesdf = panelPropertiesdf.reset_index()
panelPropertiesdf = panelPropertiesdf.rename(columns={'elements': 'Element ID'})

print(paneldf.head(5))
print(panelPropertiesdf.head(5))

   Element ID Component Name  sigmaXX        Load Case
0          40      stringer1   -77.67  Subcase 1 (LC1)
1          41      stringer1   -70.60  Subcase 1 (LC1)
2          42      stringer1   -79.68  Subcase 1 (LC1)
3          43      stringer2   -81.30  Subcase 1 (LC1)
4          44      stringer2   -85.24  Subcase 1 (LC1)
   Element ID Component Name  sigmaXX  sigmaYY  sigmaXY        Load Case
0           1         panel1   -66.67   12.750    26.25  Subcase 1 (LC1)
1           2         panel1   -82.97   20.870    27.10  Subcase 1 (LC1)
2           3         panel1   -67.63   20.740    36.97  Subcase 1 (LC1)
3           4         panel2   -97.67    2.415    34.52  Subcase 1 (LC1)
4           5         panel2   -89.50   25.350    27.04  Subcase 1 (LC1)
   Element ID     mass  thickness
0           1  0.00054          4
1           2  0.00054          4
2           3  0.00054          4
3           4  0.00054          4
4           5  0.00054          4

## Split up the loadcases

In [ ]:
loadCase1df = paneldf[paneldf['Load Case'] == 'Subcase 1 (LC1)']
loadCase2df = paneldf[paneldf['Load Case'] == 'Subcase 2 (LC2)']
loadCase3df = paneldf[paneldf['Load Case'] == 'Subcase 3 (LC3)']
# Add the data to load case 
loadCase1df = pd.merge(loadCase1df, panelPropertiesdf, on='Element ID')
loadCase2df = pd.merge(loadCase2df, panelPropertiesdf, on='Element ID')
loadCase3df = pd.merge(loadCase3df, panelPropertiesdf, on='Element ID')

# Now for the stringer properties, split into load cases
stringer_loadCase1d = stringerdf[stringerdf['Load Case'] == 'Subcase 1 (LC1)']
stringer_loadCase2d = stringerdf[stringerdf['Load Case'] == 'Subcase 2 (LC2)']
stringer_loadCase3d = stringerdf[stringerdf['Load Case'] == 'Subcase 3 (LC3)']
print(stringer_loadCase1d.head(5))

#Give some overview 
loadCase1df.head(5)

   Element ID Component Name  sigmaXX        Load Case
0          40      stringer1   -77.67  Subcase 1 (LC1)
1          41      stringer1   -70.60  Subcase 1 (LC1)
2          42      stringer1   -79.68  Subcase 1 (LC1)
3          43      stringer2   -81.30  Subcase 1 (LC1)
4          44      stringer2   -85.24  Subcase 1 (LC1)

,Element ID,Component Name,sigmaXX,sigmaYY,sigmaXY,Load Case,mass,thickness
0,1,panel1,-66.67,12.750,26.25,Subcase 1 (LC1),0.00054,4
1,2,panel1,-82.97,20.870,27.10,Subcase 1 (LC1),0.00054,4
2,3,panel1,-67.63,20.740,36.97,Subcase 1 (LC1),0.00054,4
3,4,panel2,-97.67,2.415,34.52,Subcase 1 (LC1),0.00054,4
4,5,panel2,-89.50,25.350,27.04,Subcase 1 (LC1),0.00054,4

## Combine stringers with their adjacent panel-halfs

In [ ]:
cs_properties = crosssectional_properties_hat_skin(DIM1, DIM2, DIM3, DIM4, thickness_skin, effective_width, stringer_depth=stringer_element_length)
Iyy = cs_properties[0]
A_tot = cs_properties[1]