# Task 1 d, Calculating strength reserve factor of all elements

## Please enter your name (daniel, fabian, felix, yannis)

In [105]:
name = "fabian"

## Imports

In [106]:
import pandas as pd
import sys 
import os
sys.path.insert(0, os.path.abspath('..'))
sys.path.insert(0, os.path.abspath('../formulas'))

from formulas.columnbuckling import *
from formulas.panels import *
from formulas.strength import *

## File Selection

In [107]:
#Import the stress of the panels  
paneldf = pd.read_excel(f'../data/{name}/panel.xlsx', index_col=0)
print(paneldf.head(10))

           Component Name  sigmaXX  sigmaYY  sigmaZZ  sigmaXY  sigmaXZ  \
Element ID
1                  panel1   -66.67   12.750        0    26.25        0
2                  panel1   -82.97   20.870        0    27.10        0
3                  panel1   -67.63   20.740        0    36.97        0
4                  panel2   -97.67    2.415        0    34.52        0
5                  panel2   -89.50   25.350        0    27.04        0
6                  panel2   -96.29   26.600        0    28.46        0
7                  panel3   -94.14   -2.962        0    33.47        0
8                  panel3   -96.16   20.020        0    26.79        0
9                  panel3   -93.57   37.300        0    29.76        0
10                 panel4   -87.25  -10.680        0    35.39        0

            sigmaYZ        Load Case
Element ID
1                 0  Subcase 1 (LC1)
2                 0  Subcase 1 (LC1)
3                 0  Subcase 1 (LC1)
4                 0  Subcase 1 (LC1)
5                 0  Subcase 1 (LC1)
6                 0  Subcase 1 (LC1)
7                 0  Subcase 1 (LC1)
8                 0  Subcase 1 (LC1)
9                 0  Subcase 1 (LC1)
10                0  Subcase 1 (LC1)

In [108]:
# Import the stress of the stringers 
stringerdf = pd.read_excel(f'../data/{name}/stringer.xlsx', index_col=0)
print(stringerdf.head(10))

           Component Name  sigmaXX        Load Case
Element ID
40              stringer1   -77.67  Subcase 1 (LC1)
41              stringer1   -70.60  Subcase 1 (LC1)
42              stringer1   -79.68  Subcase 1 (LC1)
43              stringer2   -81.30  Subcase 1 (LC1)
44              stringer2   -85.24  Subcase 1 (LC1)
45              stringer2   -85.16  Subcase 1 (LC1)
46              stringer3   -81.42  Subcase 1 (LC1)
47              stringer3   -83.91  Subcase 1 (LC1)
48              stringer3   -85.17  Subcase 1 (LC1)
49              stringer4   -69.43  Subcase 1 (LC1)

## Constants

In [109]:
sigma_ult = 560

## Applying Functions

In [110]:
#Adding reserve Factor column to the panels 
paneldf['reserveFactor'] = paneldf.apply(panelStrength_calc, sigma_ult= sigma_ult, axis=1)
paneldf.head(10)

,Component Name,sigmaXX,sigmaYY,sigmaZZ,sigmaXY,sigmaXZ,sigmaYZ,Load Case,reserveFactor
Element ID,,,,,,,,,
1,panel1,-66.67,12.750,0,26.25,0,0,Subcase 1 (LC1),4.304
2,panel1,-82.97,20.870,0,27.10,0,0,Subcase 1 (LC1),3.519
3,panel1,-67.63,20.740,0,36.97,0,0,Subcase 1 (LC1),3.642
4,panel2,-97.67,2.415,0,34.52,0,0,Subcase 1 (LC1),3.230
5,panel2,-89.50,25.350,0,27.04,0,0,Subcase 1 (LC1),3.260
6,panel2,-96.29,26.600,0,28.46,0,0,Subcase 1 (LC1),3.051
7,panel3,-94.14,-2.962,0,33.47,0,0,Subcase 1 (LC1),3.415
8,panel3,-96.16,20.020,0,26.79,0,0,Subcase 1 (LC1),3.187
9,panel3,-93.57,37.300,0,29.76,0,0,Subcase 1 (LC1),2.925
10,panel4,-87.25,-10.680,0,35.39,0,0,Subcase 1 (LC1),3.634

In [111]:
#Adding reserve Factor column to the stringers 
stringerdf['reserveFactor'] = stringerdf.apply(stringerStrength_calc, sigma_ult= sigma_ult, axis=1)
stringerdf.head(10)

           Component Name  sigmaXX        Load Case  reserveFactor
Element ID
40              stringer1   -77.67  Subcase 1 (LC1)          4.807
41              stringer1   -70.60  Subcase 1 (LC1)          5.288
42              stringer1   -79.68  Subcase 1 (LC1)          4.685
43              stringer2   -81.30  Subcase 1 (LC1)          4.592
44              stringer2   -85.24  Subcase 1 (LC1)          4.380
45              stringer2   -85.16  Subcase 1 (LC1)          4.384
46              stringer3   -81.42  Subcase 1 (LC1)          4.585
47              stringer3   -83.91  Subcase 1 (LC1)          4.449
48              stringer3   -85.17  Subcase 1 (LC1)          4.383
49              stringer4   -69.43  Subcase 1 (LC1)          5.377

# Making things pretty

## Delete unnecessary columns

In [112]:
# First for the stringers 
stringerdf = stringerdf.drop(['Component Name','sigmaXX'], axis=1)
stringerdf

                  Load Case  reserveFactor
Element ID
40          Subcase 1 (LC1)          4.807
41          Subcase 1 (LC1)          5.288
42          Subcase 1 (LC1)          4.685
43          Subcase 1 (LC1)          4.592
44          Subcase 1 (LC1)          4.380
...                     ...            ...
62          Subcase 3 (LC3)          8.760
63          Subcase 3 (LC3)         12.432
64          Subcase 3 (LC3)          8.229
65          Subcase 3 (LC3)         10.576
66          Subcase 3 (LC3)         11.208

[81 rows x 2 columns]

In [113]:
# Then also the panels 
paneldf=paneldf.drop(['Component Name', 'sigmaXX', 'sigmaYY', 'sigmaZZ', 'sigmaXY', 'sigmaXZ', 'sigmaYZ'], axis = 1)
paneldf.head(10)

                  Load Case  reserveFactor
Element ID
1           Subcase 1 (LC1)          4.304
2           Subcase 1 (LC1)          3.519
3           Subcase 1 (LC1)          3.642
4           Subcase 1 (LC1)          3.230
5           Subcase 1 (LC1)          3.260
6           Subcase 1 (LC1)          3.051
7           Subcase 1 (LC1)          3.415
8           Subcase 1 (LC1)          3.187
9           Subcase 1 (LC1)          2.925
10          Subcase 1 (LC1)          3.634

## Concat data frames beneth each other

In [114]:
combined = pd.concat([paneldf,stringerdf],axis=0)
combined.sample(20)

                  Load Case  reserveFactor
Element ID
46          Subcase 2 (LC2)          7.327
58          Subcase 2 (LC2)          6.987
18          Subcase 2 (LC2)          4.526
49          Subcase 2 (LC2)          8.638
45          Subcase 2 (LC2)          6.935
52          Subcase 3 (LC3)          8.998
27          Subcase 1 (LC1)          3.230
15          Subcase 2 (LC2)          4.035
30          Subcase 1 (LC1)          4.304
17          Subcase 2 (LC2)          4.763
2           Subcase 3 (LC3)          1.307
4           Subcase 2 (LC2)          5.467
9           Subcase 2 (LC2)          5.212
44          Subcase 3 (LC3)          8.760
29          Subcase 2 (LC2)          6.266
55          Subcase 2 (LC2)          6.083
18          Subcase 3 (LC3)          0.629
40          Subcase 1 (LC1)          4.807
14          Subcase 3 (LC3)          0.770
14          Subcase 2 (LC2)          4.763

## Split into three seperate loadcase data frames

In [115]:
loadCase1df = combined[combined['Load Case'] == 'Subcase 1 (LC1)']
loadCase2df = combined[combined['Load Case'] == 'Subcase 2 (LC2)']
loadCase3df = combined[combined['Load Case'] == 'Subcase 3 (LC3)']
loadCase1df.head(20)

                  Load Case  reserveFactor
Element ID
1           Subcase 1 (LC1)          4.304
2           Subcase 1 (LC1)          3.519
3           Subcase 1 (LC1)          3.642
4           Subcase 1 (LC1)          3.230
5           Subcase 1 (LC1)          3.260
6           Subcase 1 (LC1)          3.051
7           Subcase 1 (LC1)          3.415
8           Subcase 1 (LC1)          3.187
9           Subcase 1 (LC1)          2.925
10          Subcase 1 (LC1)          3.634
11          Subcase 1 (LC1)          3.358
12          Subcase 1 (LC1)          2.609
13          Subcase 1 (LC1)          2.822
14          Subcase 1 (LC1)          2.847
15          Subcase 1 (LC1)          2.412
16          Subcase 1 (LC1)          2.412
17          Subcase 1 (LC1)          2.847
18          Subcase 1 (LC1)          2.822
19          Subcase 1 (LC1)          2.609
20          Subcase 1 (LC1)          3.358

In [116]:
# Drop the loadcase columns 
loadCase1df = loadCase1df.drop(['Load Case'], axis = 1)
loadCase2df = loadCase2df.drop(['Load Case'], axis = 1)
loadCase3df = loadCase3df.drop(['Load Case'], axis = 1)
#Rename the reserveFactor column 
loadCase1df = loadCase1df.rename(columns={"reserveFactor": "Load Case 1 RF"})
loadCase2df = loadCase2df.rename(columns={"reserveFactor": "Load Case 2 RF"})
loadCase3df = loadCase3df.rename(columns={"reserveFactor": "Load Case 3 RF"})
loadCase2df.tail(5)

            Load Case 2 RF
Element ID
62                   6.919
63                   7.282
64                   6.487
65                   6.323
66                   6.641

In [120]:
# Now we concat them back together 
outputdf = pd.concat([loadCase1df,loadCase2df, loadCase3df], axis=1)
outputdf

            Load Case 1 RF  Load Case 2 RF  Load Case 3 RF
Element ID
1                    4.304           7.299           1.149
2                    3.519           6.266           1.307
3                    3.642           6.360           1.103
4                    3.230           5.467           1.113
5                    3.260           5.918           1.306
6                    3.051           5.366           1.090
7                    3.415           5.605           1.085
8                    3.187           5.599           1.316
9                    2.925           5.212           1.029
10                   3.634           5.747           0.942
11                   3.358           5.906           1.620
12                   2.609           4.608           0.863
13                   2.822           4.526           0.629
14                   2.847           4.763           0.770
15                   2.412           4.035           0.613
16                   2.412           4.035           0.613
17                   2.847           4.763           0.770
18                   2.822           4.526           0.629
19                   2.609           4.608           0.863
20                   3.358           5.906           1.620
21                   3.634           5.747           0.942
22                   2.925           5.212           1.029
23                   3.187           5.599           1.316
24                   3.415           5.605           1.085
25                   3.051           5.366           1.090
26                   3.260           5.918           1.306
27                   3.230           5.467           1.113
28                   3.642           6.360           1.103
29                   3.519           6.266           1.307
30                   4.304           7.299           1.149
40                   4.807           6.641          11.208
41                   5.288           6.323          10.576
42                   4.685           6.487           8.229
43                   4.592           7.282          12.432
44                   4.380           6.919           8.760
45                   4.384           6.935           7.018
46                   4.585           7.327          12.281
47                   4.449           7.129           8.899
48                   4.383           6.987           7.059
49                   5.377           8.638           9.177
50                   4.494           7.144           8.987
51                   3.855           6.083           3.016
52                   4.499           7.145           8.998
53                   4.499           7.140           8.998
54                   4.499           7.145           8.998
55                   3.855           6.083           3.016
56                   4.494           7.144           8.987
57                   5.377           8.638           9.177
58                   4.383           6.987           7.059
59                   4.449           7.129           8.899
60                   4.585           7.327          12.281
61                   4.384           6.935           7.018
62                   4.380           6.919           8.760
63                   4.592           7.282          12.432
64                   4.685           6.487           8.229
65                   5.288           6.323          10.576
66                   4.807           6.641          11.208

# Export back to Excel