# Task 1 d, Calculating strength reserve factor of all elements

## Please enter your name (daniel, fabian, felix, yannis)

In [37]:
name = "fabian"

## Imports

In [38]:
import pandas as pd
import sys 
import os
sys.path.insert(0, os.path.abspath('..'))
sys.path.insert(0, os.path.abspath('../formulas'))

from formulas.columnbuckling import *
from formulas.panels import *
from formulas.strength import *

## File Selection

In [39]:
#Import the stress of the panels  
paneldf = pd.read_excel(f'../data/{name}/panel.xlsx', index_col=0)
print(paneldf.head(10))

           Component Name  sigmaXX  sigmaYY  sigmaZZ  sigmaXY  sigmaXZ  \
Element ID
1                  panel1   -66.67   12.750        0    26.25        0
2                  panel1   -82.97   20.870        0    27.10        0
3                  panel1   -67.63   20.740        0    36.97        0
4                  panel2   -97.67    2.415        0    34.52        0
5                  panel2   -89.50   25.350        0    27.04        0
6                  panel2   -96.29   26.600        0    28.46        0
7                  panel3   -94.14   -2.962        0    33.47        0
8                  panel3   -96.16   20.020        0    26.79        0
9                  panel3   -93.57   37.300        0    29.76        0
10                 panel4   -87.25  -10.680        0    35.39        0

            sigmaYZ        Load Case
Element ID
1                 0  Subcase 1 (LC1)
2                 0  Subcase 1 (LC1)
3                 0  Subcase 1 (LC1)
4                 0  Subcase 1 (LC1)
5                 0  Subcase 1 (LC1)
6                 0  Subcase 1 (LC1)
7                 0  Subcase 1 (LC1)
8                 0  Subcase 1 (LC1)
9                 0  Subcase 1 (LC1)
10                0  Subcase 1 (LC1)

In [40]:
# Import the stress of the stringers 
stringerdf = pd.read_excel(f'../data/{name}/stringer.xlsx', index_col=0)
print(stringerdf.head(10))

           Component Name  sigmaXX        Load Case
Element ID
40              stringer1   -77.67  Subcase 1 (LC1)
41              stringer1   -70.60  Subcase 1 (LC1)
42              stringer1   -79.68  Subcase 1 (LC1)
43              stringer2   -81.30  Subcase 1 (LC1)
44              stringer2   -85.24  Subcase 1 (LC1)
45              stringer2   -85.16  Subcase 1 (LC1)
46              stringer3   -81.42  Subcase 1 (LC1)
47              stringer3   -83.91  Subcase 1 (LC1)
48              stringer3   -85.17  Subcase 1 (LC1)
49              stringer4   -69.43  Subcase 1 (LC1)

## Constants

In [41]:
sigma_ult = 560

## Applying Functions

In [42]:
#Adding reserve Factor column to the panels 
paneldf['reserveFactor'] = paneldf.apply(panelStrength_calc, sigma_ult=sigma_ult, axis=1)
paneldf.head(10)

,Component Name,sigmaXX,sigmaYY,sigmaZZ,sigmaXY,sigmaXZ,sigmaYZ,Load Case,reserveFactor
Element ID,,,,,,,,,
1,panel1,-66.67,12.750,0,26.25,0,0,Subcase 1 (LC1),4.304
2,panel1,-82.97,20.870,0,27.10,0,0,Subcase 1 (LC1),3.519
3,panel1,-67.63,20.740,0,36.97,0,0,Subcase 1 (LC1),3.642
4,panel2,-97.67,2.415,0,34.52,0,0,Subcase 1 (LC1),3.230
5,panel2,-89.50,25.350,0,27.04,0,0,Subcase 1 (LC1),3.260
6,panel2,-96.29,26.600,0,28.46,0,0,Subcase 1 (LC1),3.051
7,panel3,-94.14,-2.962,0,33.47,0,0,Subcase 1 (LC1),3.415
8,panel3,-96.16,20.020,0,26.79,0,0,Subcase 1 (LC1),3.187
9,panel3,-93.57,37.300,0,29.76,0,0,Subcase 1 (LC1),2.925
10,panel4,-87.25,-10.680,0,35.39,0,0,Subcase 1 (LC1),3.634

In [43]:
#Adding reserve Factor column to the stringers 
stringerdf['reserveFactor'] = stringerdf.apply(stringerStrength_calc, sigma_ult=sigma_ult, axis=1)
stringerdf.head(10)

           Component Name  sigmaXX        Load Case  reserveFactor
Element ID
40              stringer1   -77.67  Subcase 1 (LC1)          4.807
41              stringer1   -70.60  Subcase 1 (LC1)          5.288
42              stringer1   -79.68  Subcase 1 (LC1)          4.685
43              stringer2   -81.30  Subcase 1 (LC1)          4.592
44              stringer2   -85.24  Subcase 1 (LC1)          4.380
45              stringer2   -85.16  Subcase 1 (LC1)          4.384
46              stringer3   -81.42  Subcase 1 (LC1)          4.585
47              stringer3   -83.91  Subcase 1 (LC1)          4.449
48              stringer3   -85.17  Subcase 1 (LC1)          4.383
49              stringer4   -69.43  Subcase 1 (LC1)          5.377

# Making things pretty

## Delete unnecessary columns

In [44]:
# First for the stringers 
stringerdf = stringerdf.drop(['Component Name','sigmaXX'], axis=1)
stringerdf

                  Load Case  reserveFactor
Element ID
40          Subcase 1 (LC1)          4.807
41          Subcase 1 (LC1)          5.288
42          Subcase 1 (LC1)          4.685
43          Subcase 1 (LC1)          4.592
44          Subcase 1 (LC1)          4.380
...                     ...            ...
62          Subcase 3 (LC3)          8.760
63          Subcase 3 (LC3)         12.432
64          Subcase 3 (LC3)          8.229
65          Subcase 3 (LC3)         10.576
66          Subcase 3 (LC3)         11.208

[81 rows x 2 columns]

In [45]:
# Then also the panels 
paneldf.drop(['Component Name', 'sigmaXX', 'sigmaYY', 'sigmaZZ', 'sigmaXY', 'sigmaXZ', 'sigmaYZ'], axis = 1)

                  Load Case  reserveFactor
Element ID
1           Subcase 1 (LC1)          4.304
2           Subcase 1 (LC1)          3.519
3           Subcase 1 (LC1)          3.642
4           Subcase 1 (LC1)          3.230
5           Subcase 1 (LC1)          3.260
...                     ...            ...
26          Subcase 3 (LC3)          1.306
27          Subcase 3 (LC3)          1.113
28          Subcase 3 (LC3)          1.103
29          Subcase 3 (LC3)          1.307
30          Subcase 3 (LC3)          1.149

[90 rows x 2 columns]

## Concat data frames beneth each other

## Split into three seperate loadcase data frames

# Export back to Excel

Export the panel and stringer dataframe to an excel file in the individual folder for the selected person:
`data/{name}/output/`

In [ ]:
paneldf.to_excel(f'../data/{name}/output/panel_processed.xlsx')
stringerdf.to_excel(f'../data/{name}/output/stringer_processed.xlsx')